#deesa{
  background-color:white;
  margin-top:5%;
  padding-bottom:0px;

} 

#sidepic{
  display: flex;
 }

 .side{
  width:7px;
}
#athlogo{
  width: 125px;
  height: 64px;
  
  margin-top: 61px;
}

.allset{
  width: 557px;
  height: 518px;
  margin-top: 6%;
  margin-left: 35%;
  background: rgba(32, 35, 40, 0.8);
  box-shadow: 0px 0px 8px rgb(0 0 0 / 25%);
  -webkit-backdrop-filter: blur(240px);
  backdrop-filter: blur(240px);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
} 
.image{
  padding-top:30px;
  width:100px;
}


.tokentext{
width: 251px;
height: 23px;
left: 595px;
top: 286px;

font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 130%;
/* or 23px */

text-align: center;
margin-top: 4px;
color: #666B6F;

}

.resbtn {
  width: 146px;
    height: 48px;
    /* left: 811px; */
    /* top: 530px; */
    background: linear-gradient(
90deg
, #2B7CAA 0%, #2B4DAA 100%);
    border-radius: 4px;
    margin-top: 52px;
    margin-left: 325px;
    color: #D4DCE1;
    border: none;

}

.resbtn-info {
  color: #D4DCE1;
  background-color: #00acc1;
  border: none;
}

#tokenpage{
  width: 241px;
height: 36px;
margin-top: 28px;
font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 130%;
/* or 36px */

text-align: center;

/* Light */

color: #D4DCE1;
}

 
  .tokenid{
    width: 76px;
height: 21px;
font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */

margin-right: 385px;
/* Light */

color: #D4DCE1;
  }
  .box2{
    width: 473px;
    height: 42px;
    margin-top: -8px;
    background: #373B3D;
    border: 1px solid #8791A0;
    box-sizing: border-box;
    border-radius: 4px;
  }

.tokeninfo{
  width: 418px;
  height: 21px;
  /* left: 484px; */
  /* top: 445px; */
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #666B6E;
  margin-right: 49px;
  margin-top: -7px;

color: #666B6E;
}
@media screen and (min-width:0px)and (max-width:500px){
  .allset{
     margin-left: 7px;
margin-top: 180px;
background-color: rgba(32, 35, 40, 0.8);
box-shadow: 0px 0px 8px rgb(0 0 0 / 25%);
-webkit-backdrop-filter: blur(240px);
backdrop-filter: blur(240px);
  }
}
@media screen and (min-width:500px)and (max-width:700px){
 .allset{
     margin-left: 111px;
     margin-top: 205px;
     background-color: rgba(32, 35, 40, 0.8);
     box-shadow: 0px 0px 8px rgb(0 0 0 / 25%);
     -webkit-backdrop-filter: blur(240px);
     backdrop-filter: blur(240px);
 }
}

@media screen and (min-width:700px)and (max-width:1000px){
 .allset{
     margin-left: 115px;
margin-top: 185px;
background-color: rgba(32, 35, 40, 0.8);
box-shadow: 0px 0px 8px rgb(0 0 0 / 25%);
-webkit-backdrop-filter: blur(240px);
backdrop-filter: blur(240px);
 }
}

@media screen and (min-width:1000px) and (max-width:1200px) {
  .allset{
    width: 557px;
    height: 518px;
    margin-top: 35%;
    margin-left: 20%;
    background: rgba(32, 35, 40, 0.8);
    box-shadow: 0px 0px 8px rgb(0 0 0 / 25%);
    -webkit-backdrop-filter: blur(240px);
    backdrop-filter: blur(240px);
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
  } 
}
